# Compilados Java
*.class
*.jar

# Pasta de build
bin/
out/
build/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# Arquivo de dados do sistema
veiculos.txt